{% extends './layouts/main' %}

{% set page_title = 'Talent Search 2017' %}

{% block content %}
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">STI College Novaliches</h1>
        <h2 class="subtitle">Talent Search 2017 Tabulation Server</h2>
      </div>
    </div>
  </section>
{% endblock %}
