{% extends '../../layouts/dashboard' %}

{% set page_title = 'Judges' %}
{% set active_menu = 'judges' %}

{% block subcontent %}
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container is-fluid">
        <div class="level">
          <div class="level-left">
            <h1 class="title">Judges</h1>
          </div>

          <div class="level-right">
            <a href="{{ route('dashboard.judges.add') }}" class="button is-primary">
              <span class="icon is-small">
                <i class="fa fa-plus"></i>
              </span>

              <span>Add Judge</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="main">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th class="is-fit">Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for judge in result.toJSON() %}
          <tr>
            <td>{{ judge.name }}</td>
            <td>{{ judge.username }}</td>
            <td>
              <div class="field is-grouped">
                <p class="control">
                  <a href="{{ route('dashboard.judges.reset', { id: judge.id }) }}" class="button is-small is-inverted" title="Reset Token">
                    <span class="icon is-small">
                      <i class="fa fa-refresh"></i>
                    </span>
                  </a>
                </p>

                <p class="control">
                  <a href="{{ route('dashboard.judges.edit', { id: judge.id }) }}" class="button is-primary is-small is-inverted">
                    <span class="icon is-small">
                      <i class="fa fa-pencil"></i>
                    </span>
                  </a>
                </p>

                <p class="control">
                  <a href="{{ route('dashboard.judges.delete', { id: judge.id }) }}" class="button is-danger is-small is-inverted">
                    <span class="icon is-small">
                      <i class="fa fa-times"></i>
                    </span>
                  </a>
                </p>
              </div>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="3">No results found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
