{% extends '../../layouts/dashboard' %}

{% set page_title = 'Delete Judge' %}
{% set active_menu = 'judges' %}

{% block subcontent %}
  <section class="hero is-warning has-contents-below">
    <div class="hero-body">
      <div class="container is-fluid">
        <div class="level">
          <div class="level-left">
            <h1 class="title">Reset Token</h1>
          </div>

          <div class="level-right">

          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-4 is-offset-4">
        <article class="message is-warning">
          <div class="message-header">
            <p>Reset Judge Token</p>
          </div>

          <div class="message-body">
            <form class="form" action="{{ formUrl }}" method="post">
              {{ csrfField }}

              <div class="has-contents-below">
                <p>Resetting token will invalidate the session and logs out this judge:</p>
                <p><strong>{{ model.name }}</strong></p>
              </div>

              <div class="is-clearfix">
                <div class="field is-grouped is-pulled-right">
                  <p class="control">
                    <a href="{{ route('dashboard.judges') }}" class="button is-light">
                      <span>Cancel</span>
                    </a>
                  </p>

                  <p class="control">
                    <button class="button is-warning">
                      <span class="icon is-small">
                        <i class="fa fa-refresh"></i>
                      </span>

                      <span>Reset</span>
                    </button>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </article>
      </div>
    </div>
  </div>
{% endblock %}
