{% extends '../../layouts/dashboard' %}

{% set page_title = 'Add Criteria' %}
{% set active_menu = 'criterias' %}

{% set formUrl = url('dashboard.criterias.add') %}

{% if model.id %}
  {% set page_title = 'Edit Criteria' %}
    {% set formUrl = url('dashboard.criterias.edit', { id: model.id }) %}
{% endif %}

{% block subcontent %}
  <section class="hero is-light has-contents-below">
    <div class="hero-body">
      <div class="container is-fluid">
        <div class="order">
          <div class="order-left">
            {% if model.id %}
              <h1 class="title">Edit Criteria</h1>
            {% else %}
              <h1 class="title">Add Criteria</h1>
            {% endif %}
          </div>

          <div class="order-right">

          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="main">
    <div class="columns">
      <div class="column is-4 is-offset-4">
        <div class="box">
          {% if old('errors') %}
            {% for error in old('errors') %}
              <div class="notification is-danger">
                <small>{{ error.message | capitalize }}</small>
              </div>
            {% endfor %}
          {% endif %}

          <form class="form" action="{{ formUrl }}" method="post">
            {{ csrfField }}

            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" type="text" name="name" value="{{ old('name', model.name) }}" required />
              </div>
            </div>

            <div class="field">
              <label class="label">Description</label>
              <div class="control">
                <textarea class="textarea" name="description" required>{{ old('description', model.description) }}</textarea>
              </div>
            </div>

            <div class="field">
              <label class="label">Percentage</label>
              <div class="control">
                <input class="input" type="number" name="percentage" min="0" max="100" value="{{ old('percentage', model.percentage) }}" required />
              </div>
            </div>

            <div class="field">
              <label class="label">Minimum Value</label>
              <div class="control">
                <input class="input" type="number" name="minimum_value" min="0" max="100" value="{{ old('minimum_value', model.minimum_value) }}" required />
              </div>
            </div>

            <div class="field">
              <label class="label">Order</label>
              <div class="control">
                <input class="input" type="number" name="order" value="{{ old('order', model.order) }}" required />
              </div>
            </div>

            <div class="field">
              <p class="control is-clearfix">
                <button class="button is-primary is-pulled-right">
                  <span class="icon is-small">
                    <i class="fa fa-save"></i>
                  </span>

                  <span>Save</span>
                </button>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
