{% extends '../index' %}

{% set subpage_title = 'Criterias' %}
{% set active_submenu = 'criterias' %}

{% set formUrl = url('dashboard.connections.criterias.edit', { id: model.id }) %}

{% block framecontent %}
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-3">
        <h2 class="subtitle">Categories</h2>

        <aside class="menu">
          <ul class="menu-list">
            {% for category in categories.toJSON() %}
              {% if model.id == category.id %}
                <li>
                  <a class="is-active" href="{{ route('dashboard.connections.criterias.edit', { id: category.id }) }}">
                    {{ category.name }}
                  </a>
                </li>
              {% else %}
                <li>
                  <a href="{{ route('dashboard.connections.criterias.edit', { id: category.id }) }}">
                    {{ category.name }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </aside>
      </div>

      <div class="column">
        <h2 class="subtitle">Criterias</h2>

        <form action="{{ formUrl }}" method="post">
          {{ csrfField }}
          <div class="field">
            <div class="control">
              <div class="select is-multiple">
                <select name="criterias" multiple>
                  {% for criteria in mappedCriterias %}
                    {% if criteria.is_selected %}
                      <option value="{{ criteria.id }}" selected>
                        {{ criteria.name }} - {{ criteria.percentage }}%

                        {% if criteria.categories.length > 0 %}
                          (

                          {% for category in criteria.categories %}
                            {{ category.name }}

                            {% if loop.index < criteria.categories.length %}
                              /
                            {% endif %}
                          {% endfor %}

                          )
                        {% endif %}
                      </option>
                    {% else %}
                      <option value="{{ criteria.id }}">
                        {{ criteria.name }} - {{ criteria.percentage }}%

                        {% if criteria.categories.length > 0 %}
                          (

                          {% for category in criteria.categories %}
                            {{ category.name }}

                            {% if loop.index < criteria.categories.length %}
                              /
                            {% endif %}
                          {% endfor %}

                          )
                        {% endif %}
                      </option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <p class="control is-clearfix">
              <button class="button is-primary is-pulled-right">
                <span class="icon is-small">
                  <i class="fa fa-save"></i>
                </span>

                <span>Save</span>
              </button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
