{% extends '../../layouts/dashboard' %}

{% set page_title = 'Scores' %}
{% set active_menu = 'scores' %}

{% set error = old('error') %}

{%

set tabs = [
  {
    identifier: 'overview',
    name: 'Overview',
    url: url('dashboard.scores.overview', { id: result.category.id })
  },

  {
    identifier: 'details',
    name: 'Details',
    url: url('dashboard.scores.details', { id: result.category.id })
  }
]

%}

{% block subcontent %}
  <section class="hero is-light has-contents-below">
    <div class="hero-body">
      <div class="container is-fluid">
        <div class="level">
          <div class="level-left">
            <h1 class="title">Scores</h1>
          </div>

          <div class="level-right">
            <form method="post" action="{{ route('dashboard.scores') }}">
              {{ csrfField }}

              <div class="field has-addons">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select name="category_id">
                      {% for c in categories.toJSON() %}
                        {% if result.category.id == c.id %}
                          <option value="{{ c.id }}" selected>{{ c.name }}</option>
                        {% else %}
                          <option value="{{ c.id }}">{{ c.name }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="control">
                  <button type="submit" class="button is-primary">
                    <span class="icon is-small">
                      <i class="fa fa-chevron-right"></i>
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container is-fluid">
    <div class="level">
      <div class="level-left">
    <div class="tabs">
      <ul>
        {% for tab in tabs %}
          {% if tab.identifier == active_tab %}
            <li class="is-active">
              <a href="{{ tab.url }}">{{ tab.name }}</a>
            </li>
          {% else %}
            <li>
              <a href="{{ tab.url }}">{{ tab.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
        </div>
      </div>

      <div class="level-right">
        <div class="field is-grouped">
          <p class="control">
            <button class="button" @click="printResult(true)">
              <span class="icon is-small">
                <i class="fa fa-print"></i>
              </span>

              <span>Print Winner</span>
            </button>
          </p>

          <p class="control">
            <button class="button" @click="printResult()">
              <span class="icon is-small">
                <i class="fa fa-print"></i>
              </span>

              <span>Print</span>
            </button>
          </p>
        </div>
      </div>
    </div>

    {% block sectioncontent %}{% endblock %}
  </div>
{% endblock %}
