{% extends '../../layouts/main' %}

{% set page_title = 'Print' %}

{% block content %}
  <img class="has-contents-below" src="/assets/img/logo-100.png" alt="Logo" />

  <h1 class="title">{{ result.category.name }}</h1>

  {% if criteria %}
    <h2 class="subtitle">{{ criteria.name }}</h2>
  {% endif %}

  <hr />

  {% if result.subcategories.length == 0 %}
    <div>
      {% if not criteria %}
        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th rowspan="3" class="has-text-centered">Rank</th>
              <th rowspan="3" class="has-text-centered">Number</th>
              <th rowspan="3" class="has-text-centered">Contestant</th>
              <th colspan="{{ result.judges.length * (result.criterias.length + 1) }}" class="has-text-centered">Judges</th>
              <th rowspan="3" class="has-text-centered">OAVG</th>
            </tr>

            <tr>
              {% for judge in result.judges %}
                <th colspan="{{ result.criterias.length + 1 }}" class="has-text-centered">{{ judge.name }}</th>
              {% endfor %}
            </tr>

            <tr>
              {% for judge in result.judges %}
                {% for criteria in result.criterias %}
                  <th class="has-text-centered">
                    <small>
                      {{ criteria.name }}

                      {% if result.category.is_weighted %}
                        ({{ criteria.percentage }}%)
                      {% endif %}
                    </small>
                  </th>
                {% endfor %}

                <th class="has-text-centered">
                  <small>AVG</small>
                </th>
              {% endfor %}
            </tr>
          </thead>

          <tbody>
            {% for candidate in result.candidates %}
              <tr>
                <td class="is-fit has-text-centered">{{ loop.index }}</td>
                <td class="is-fit has-text-centered">{{ candidate.number }}</td>
                <td>{{ candidate.name }}</td>

                {% for judge in result.judges %}
                  {% for criteria in result.criterias %}
                    <td class="has-text-centered">{{ result.getCriteriaScore(candidate.id, judge.id, criteria.id) }}</td>
                  {% endfor %}

                  <td class="has-text-centered">{{ result.getAverage(candidate.id, judge.id) | fixed }}</td>
                {% endfor %}

                <td class="has-text-centered">{{ result.getJudgesAverage(candidate.id) | fixed }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th rowspan="3" class="has-text-centered">#</th>
              <th rowspan="3" class="has-text-centered">Contestant</th>
              <th colspan="{{ result.judges.length }}" class="has-text-centered">Judges</th>
              <th rowspan="3" class="has-text-centered">AVG</th>
            </tr>

            <tr>
              {% for judge in result.judges %}
                <th class="has-text-centered">{{ judge.name }}</th>
              {% endfor %}
            </tr>

            <tr>
              {% for judge in result.judges %}
                <th class="has-text-centered">
                  <small>{{ criteria.name }}</small>
                </th>
              {% endfor %}
            </tr>
          </thead>

          <tbody>
            {% for candidate in result.candidates %}
              <tr>
                <td class="is-fit has-text-centered">{{ loop.index }}</td>
                <td>{{ candidate.name }}</td>

                {% for judge in result.judges %}
                  <td class="has-text-centered">{{ result.getCriteriaScore(candidate.id, judge.id, criteria.id) }}</td>
                {% endfor %}

                <td class="has-text-centered">{{ result.getCriteriaAverage(candidate.id, criteria.id) | fixed }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  {% endif %}

  {% for subcategory in result.subcategories %}
    <h2 class="subtitle">{{ subcategory.name }}</h2>

    <div>
      {% if not criteria %}
        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th rowspan="3" class="has-text-centered">Number</th>
              <th rowspan="3" class="has-text-centered">Contestant</th>
              <th colspan="{{ result.judges.length * (result.criterias.length + 1) }}" class="has-text-centered">Judges</th>
              <th rowspan="3" class="has-text-centered">OAVG</th>
            </tr>

            <tr>
              {% for judge in result.judges %}
                <th colspan="{{ result.criterias.length + 1 }}" class="has-text-centered">{{ judge.name }}</th>
              {% endfor %}
            </tr>

            <tr>
              {% for judge in result.judges %}
                {% for criteria in result.criterias %}
                  <th class="has-text-centered">
                    <small>
                      {{ criteria.name }}

                      {% if result.category.is_weighted %}
                        ({{ criteria.percentage }}%)
                      {% endif %}
                    </small>
                  </th>
                {% endfor %}

                <th class="has-text-centered">
                  <small>AVG</small>
                </th>
              {% endfor %}
            </tr>
          </thead>

          <tbody>
            {% for candidate in subcategory.candidates %}
              <tr>
                <td class="is-fit has-text-centered">{{ loop.index }}</td>
                <td>{{ candidate.name }}</td>

                {% for judge in result.judges %}
                  {% for criteria in result.criterias %}
                    <td class="has-text-centered">{{ result.getCriteriaScore(candidate.id, judge.id, criteria.id) }}</td>
                  {% endfor %}

                  <td class="has-text-centered">{{ result.getAverage(candidate.id, judge.id) | fixed }}</td>
                {% endfor %}

                <td class="has-text-centered">{{ result.getJudgesAverage(candidate.id) | fixed }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th rowspan="3" class="has-text-centered">#</th>
              <th rowspan="3" class="has-text-centered">Contestant</th>
              <th colspan="{{ result.judges.length }}" class="has-text-centered">Judges</th>
              <th rowspan="3" class="has-text-centered">AVG</th>
            </tr>

            <tr>
              {% for judge in result.judges %}
                <th class="has-text-centered">{{ judge.name }}</th>
              {% endfor %}
            </tr>

            <tr>
              {% for judge in result.judges %}
                <th class="has-text-centered">
                  <small>{{ criteria.name }}</small>
                </th>
              {% endfor %}
            </tr>
          </thead>

          <tbody>
            {% for candidate in subcategory.candidates %}
              <tr>
                <td class="is-fit has-text-centered">{{ loop.index }}</td>
                <td>{{ candidate.name }}</td>

                {% for judge in result.judges %}
                  <td class="has-text-centered">{{ result.getCriteriaScore(candidate.id, judge.id, criteria.id) }}</td>
                {% endfor %}

                <td class="has-text-centered">{{ result.getCriteriaAverage(candidate.id, criteria.id) | fixed }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  {% endfor %}

  <div class="columns">
    {% for judge in result.judges %}
      <div class="column is-4">
        <div class="signature-area">
          <p class="title">{{ judge.name }}</p>
          <p class="subtitle">Judge</p>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="columns">
    <div class="column is-4">
      <div class="signature-area">
        <p class="title">{{ user.name }}</p>
        <p class="subtitle">Validator</p>
      </div>
    </div>
  </div>
{% endblock %}
