{% extends '../../layouts/main' %}

{% set page_title = 'Print' %}

{% block content %}
  <img class="has-contents-below" src="/assets/img/logo-100.png" alt="Logo" />

  <h1 class="title">{{ result.category.name }}</h1>

  {% if criteria %}
    <h2 class="subtitle">{{ criteria.name }}</h2>
  {% endif %}

  <hr />

  {% if result.subcategories.length == 0 %}
    {% set candidate = result.candidates[0] %}

    <div>
      {% if not criteria %}
        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th rowspan="3" class="has-text-centered">Number</th>
              <th rowspan="3" class="has-text-centered">Contestant</th>
              <th rowspan="3" class="has-text-centered">Average</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="is-fit has-text-centered">{{ candidate.number }}</td>
              <td>{{ candidate.name }}</td>
              <td class="has-text-centered">{{ result.getJudgesAverage(candidate.id) | fixed }}</td>
            </tr>
          </tbody>
        </table>
      {% else %}
        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th rowspan="3" class="has-text-centered">Number</th>
              <th rowspan="3" class="has-text-centered">Contestant</th>
              <th rowspan="3" class="has-text-centered">Average</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="is-fit has-text-centered">{{ loop.index }}</td>
              <td>{{ candidate.name }}</td>
              <td class="has-text-centered">{{ result.getCriteriaAverage(candidate.id, criteria.id) | fixed }}</td>
            </tr>
          </tbody>
        </table>
      {% endif %}
    </div>
  {% endif %}

  {% for subcategory in result.subcategories %}
    {% set candidate = subcategory.candidates[0] %}

    <h2 class="subtitle">{{ subcategory.name }}</h2>

    <div>
      {% if not criteria %}
        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th rowspan="3" class="has-text-centered">Number</th>
              <th rowspan="3" class="has-text-centered">Contestant</th>
              <th rowspan="3" class="has-text-centered">Average</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="is-fit has-text-centered">{{ candidate.number }}</td>
              <td>{{ candidate.name }}</td>
              <td class="has-text-centered">{{ result.getJudgesAverage(candidate.id) | fixed }}</td>
            </tr>
          </tbody>
        </table>
      {% else %}
        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th rowspan="3" class="has-text-centered">Number</th>
              <th rowspan="3" class="has-text-centered">Contestant</th>
              <th rowspan="3" class="has-text-centered">Average</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="is-fit has-text-centered">{{ candidate.number }}</td>
              <td>{{ candidate.name }}</td>
              <td class="has-text-centered">{{ result.getCriteriaAverage(candidate.id, criteria.id) | fixed }}</td>
            </tr>
          </tbody>
        </table>
      {% endif %}
    </div>
  {% endfor %}

  <div class="columns">
    {% for judge in result.judges %}
      <div class="column is-4">
        <div class="signature-area">
          <p class="title">{{ judge.name }}</p>
          <p class="subtitle">Judge</p>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="columns">
    <div class="column is-4">
      <div class="signature-area">
        <p class="title">{{ user.name }}</p>
        <p class="subtitle">Validator</p>
      </div>
    </div>
  </div>
{% endblock %}
