{% extends './category' %}

{% set active_tab = 'details' %}

{% block sectioncontent %}
  <div class="tabs is-small">
    <ul>
      {% for _criteria in result.criterias %}
        {% if _criteria.id == criteria.id %}
          <li class="is-active">
            <a href="{{ url('dashboard.scores.criteria', { id: result.category.id, cid: _criteria.id }) }}">
              {{ _criteria.name }}

              {% if result.category.is_weighted %}
                ({{ _criteria.percentage }}%)
              {% endif %}
            </a>
          </li>
        {% else %}
          <li>
            <a href="{{ url('dashboard.scores.criteria', { id: result.category.id, cid: _criteria.id }) }}">
              {{ _criteria.name }}

              {% if result.category.is_weighted %}
                ({{ _criteria.percentage }}%)
              {% endif %}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <h2 class="subtitle">Judges scores for {{ result.category.name }}</h2>

  {% if result.subcategories.length == 0 %}
    <div class="scrollable-table">
      {% if not criteria %}
        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th rowspan="3" class="has-text-centered">#</th>
              <th rowspan="3" class="has-text-centered">Contestant</th>
              <th colspan="{{ result.judges.length * (result.criterias.length + 1) }}" class="has-text-centered">Judges</th>
              <th rowspan="3" class="has-text-centered">OAVG</th>
            </tr>

            <tr>
              {% for judge in result.judges %}
                <th colspan="{{ result.criterias.length + 1 }}" class="has-text-centered">{{ judge.name }}</th>
              {% endfor %}
            </tr>

            <tr>
              {% for judge in result.judges %}
                {% for criteria in result.criterias %}
                  <th class="has-text-centered">
                    <small>
                      {{ criteria.name }}

                      {% if result.category.is_weighted %}
                        ({{ criteria.percentage }}%)
                      {% endif %}
                    </small>
                  </th>
                {% endfor %}

                <th class="has-text-centered">
                  <small>AVG</small>
                </th>
              {% endfor %}
            </tr>
          </thead>

          <tbody>
            {% for candidate in result.candidates %}
              <tr>
                <td class="is-fit has-text-centered">{{ loop.index }}</td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="/storage/{{ candidate.thumb_path }}" alt="Candidate Photo" />
                      </figure>
                    </div>

                    <div class="media-content">
                      <h1 class="title is-5">{{ candidate.name }}</h1>
                    </div>
                  </div>
                </td>

                {% for judge in result.judges %}
                  {% for criteria in result.criterias %}
                    <td class="has-text-centered">{{ result.getCriteriaScore(candidate.id, judge.id, criteria.id) }}</td>
                  {% endfor %}

                  <td class="has-text-centered">{{ result.getAverage(candidate.id, judge.id) | fixed }}</td>
                {% endfor %}

                <td class="has-text-centered">{{ result.getJudgesAverage(candidate.id) | fixed }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th rowspan="3" class="has-text-centered">#</th>
              <th rowspan="3" class="has-text-centered">Contestant</th>
              <th colspan="{{ result.judges.length }}" class="has-text-centered">Judges</th>
              <th rowspan="3" class="has-text-centered">AVG</th>
            </tr>

            <tr>
              {% for judge in result.judges %}
                <th class="has-text-centered">{{ judge.name }}</th>
              {% endfor %}
            </tr>

            <tr>
              {% for judge in result.judges %}
                <th class="has-text-centered">
                  <small>{{ criteria.name }}</small>
                </th>
              {% endfor %}
            </tr>
          </thead>

          <tbody>
            {% for candidate in result.candidates %}
              <tr>
                <td class="is-fit has-text-centered">{{ loop.index }}</td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="/storage/{{ candidate.thumb_path }}" alt="Candidate Photo" />
                      </figure>
                    </div>

                    <div class="media-content">
                      <h1 class="title is-5">{{ candidate.name }}</h1>
                    </div>
                  </div>
                </td>

                {% for judge in result.judges %}
                  <td class="has-text-centered">{{ result.getCriteriaScore(candidate.id, judge.id, criteria.id) }}</td>
                {% endfor %}

                <td class="has-text-centered">{{ result.getCriteriaAverage(candidate.id, criteria.id) | fixed }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  {% endif %}

  {% for subcategory in result.subcategories %}
    <hr />

    <h2 class="subtitle">{{ subcategory.name }}</h2>

    <div class="scrollable-table">
      {% if not criteria %}
        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th rowspan="3" class="has-text-centered">#</th>
              <th rowspan="3" class="has-text-centered">Contestant</th>
              <th colspan="{{ result.judges.length * (result.criterias.length + 1) }}" class="has-text-centered">Judges</th>
              <th rowspan="3" class="has-text-centered">OAVG</th>
            </tr>

            <tr>
              {% for judge in result.judges %}
                <th colspan="{{ result.criterias.length + 1 }}" class="has-text-centered">{{ judge.name }}</th>
              {% endfor %}
            </tr>

            <tr>
              {% for judge in result.judges %}
                {% for criteria in result.criterias %}
                  <th class="has-text-centered">
                    <small>
                      {{ criteria.name }}

                      {% if result.category.is_weighted %}
                        ({{ criteria.percentage }}%)
                      {% endif %}
                    </small>
                  </th>
                {% endfor %}

                <th class="has-text-centered">
                  <small>AVG</small>
                </th>
              {% endfor %}
            </tr>
          </thead>

          <tbody>
            {% for candidate in result.candidates %}
              {% if result.inSubcategory(candidate, subcategory.id) %}
                <tr>
                  <td class="is-fit has-text-centered">{{ loop.index }}</td>
                  <td>
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-48x48">
                          <img src="/storage/{{ candidate.thumb_path }}" alt="Candidate Photo" />
                        </figure>
                      </div>

                      <div class="media-content">
                        <h1 class="title is-5">{{ candidate.name }}</h1>
                      </div>
                    </div>
                  </td>

                  {% for judge in result.judges %}
                    {% for criteria in result.criterias %}
                      <td class="has-text-centered">{{ result.getCriteriaScore(candidate.id, judge.id, criteria.id) }}</td>
                    {% endfor %}

                    <td class="has-text-centered">{{ result.getAverage(candidate.id, judge.id) | fixed }}</td>
                  {% endfor %}

                  <td class="has-text-centered">{{ result.getJudgesAverage(candidate.id) | fixed }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th rowspan="3" class="has-text-centered">#</th>
              <th rowspan="3" class="has-text-centered">Contestant</th>
              <th colspan="{{ result.judges.length }}" class="has-text-centered">Judges</th>
              <th rowspan="3" class="has-text-centered">AVG</th>
            </tr>

            <tr>
              {% for judge in result.judges %}
                <th class="has-text-centered">{{ judge.name }}</th>
              {% endfor %}
            </tr>

            <tr>
              {% for judge in result.judges %}
                <th class="has-text-centered">
                  <small>{{ criteria.name }}</small>
                </th>
              {% endfor %}
            </tr>
          </thead>

          <tbody>
            {% for candidate in result.candidates %}
              {% if result.inSubcategory(candidate, subcategory.id) %}
                <tr>
                  <td class="is-fit has-text-centered">{{ loop.index }}</td>
                  <td>
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-48x48">
                          <img src="/storage/{{ candidate.thumb_path }}" alt="Candidate Photo" />
                        </figure>
                      </div>

                      <div class="media-content">
                        <h1 class="title is-5">{{ candidate.name }}</h1>
                      </div>
                    </div>
                  </td>

                  {% for judge in result.judges %}
                    <td class="has-text-centered">{{ result.getCriteriaScore(candidate.id, judge.id, criteria.id) }}</td>
                  {% endfor %}

                  <td class="has-text-centered">{{ result.getCriteriaAverage(candidate.id, criteria.id) | fixed }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}
