{% extends './category' %}

{% set active_tab = 'overview' %}

{% block sectioncontent %}
  <h2 class="subtitle">Overview for {{ result.category.name }}</h2>

  {% if result.subcategories.length == 0 %}
    <div class="scrollable-table">
      <table class="table is-bordered is-fullwidth">
        <thead>
          <tr>
            <th rowspan="2" class="has-text-centered">#</th>
            <th rowspan="2" class="has-text-centered">Contestant</th>
            <th colspan="{{ result.judges.length }}" class="has-text-centered">Judges</th>
            <th rowspan="2" class="has-text-centered">Average</th>
          </tr>

          <tr>
            {% for judge in result.judges %}
              <th class="has-text-centered">{{ judge.name }}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for candidate in result.candidates %}
            <tr>
              <td class="is-fit has-text-centered">{{ loop.index }}</td>
              <td>
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="/storage/{{ candidate.thumb_path }}" alt="Candidate Photo" />
                    </figure>
                  </div>

                  <div class="media-content">
                    <h1 class="title is-5">{{ candidate.name }}</h1>
                  </div>
                </div>
              </td>

              {% for judge in result.judges %}
                <td class="has-text-centered">{{ result.getAverage(candidate.id, judge.id) | fixed }}</td>
              {% endfor %}

              <td class="has-text-centered">{{ result.getJudgesAverage(candidate.id) | fixed }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {% for subcategory in result.subcategories %}
    <hr />

    <h2 class="subtitle">{{ subcategory.name }}</h2>

    <div class="scrollable-table">
      <table class="table is-bordered is-fullwidth">
        <thead>
          <tr>
            <th rowspan="2" class="has-text-centered">#</th>
            <th rowspan="2" class="has-text-centered">Contestant</th>
            <th colspan="{{ result.judges.length }}" class="has-text-centered">Judges</th>
            <th rowspan="2" class="has-text-centered">Average</th>
          </tr>

          <tr>
            {% for judge in result.judges %}
              <th class="has-text-centered">{{ judge.name }}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for candidate in result.candidates %}
            {% if result.inSubcategory(candidate, subcategory.id) %}
            <tr>
              <td class="is-fit has-text-centered">{{ loop.index }}</td>
              <td>
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="/storage/{{ candidate.thumb_path }}" alt="Candidate Photo" />
                    </figure>
                  </div>

                  <div class="media-content">
                    <h1 class="title is-5">{{ candidate.name }}</h1>
                  </div>
                </div>
              </td>

              {% for judge in result.judges %}
                <td class="has-text-centered">{{ result.getAverage(candidate.id, judge.id) | fixed }}</td>
              {% endfor %}

              <td class="has-text-centered">{{ result.getJudgesAverage(candidate.id) | fixed }}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
{% endblock %}
