{% extends '../../layouts/main' %}

{% set page_title = 'Print' %}

{% block content %}
  <img class="has-contents-below" src="/assets/img/logo-100.png" alt="Logo" />

  <h1 class="title">{{ result.category.name }}</h1>

  {% if result.subcategories.length == 0 %}
    <div>
      <table class="table is-bordered is-fullwidth">
        <thead>
          <tr>
            <th rowspan="2" class="has-text-centered">#</th>
            <th rowspan="2" class="has-text-centered">Contestant</th>
            <th colspan="{{ result.judges.length }}" class="has-text-centered">Judges</th>
            <th rowspan="2" class="has-text-centered">Average</th>
          </tr>

          <tr>
            {% for judge in result.judges %}
              <th class="has-text-centered">
                <small>{{ judge.name }}</small>
              </th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for candidate in result.candidates %}
            <tr>
              <td class="is-fit has-text-centered">{{ loop.index }}</td>
              <td>{{ candidate.name }}</td>

              {% for judge in result.judges %}
                <td class="has-text-centered">{{ result.getAverage(candidate.id, judge.id) | fixed }}</td>
              {% endfor %}

              <td class="has-text-centered">{{ result.getJudgesAverage(candidate.id) | fixed }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {% for subcategory in result.subcategories %}
    <hr />

    <h2 class="subtitle">{{ subcategory.name }}</h2>

    <div>
      <table class="table is-bordered is-fullwidth">
        <thead>
          <tr>
            <th rowspan="2" class="has-text-centered">#</th>
            <th rowspan="2" class="has-text-centered">Contestant</th>
            <th colspan="{{ result.judges.length }}" class="has-text-centered">Judges</th>
            <th rowspan="2" class="has-text-centered">Average</th>
          </tr>

          <tr>
            {% for judge in result.judges %}
              <th class="has-text-centered">{{ judge.name }}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for candidate in subcategory.candidates %}
            <tr>
              <td class="is-fit has-text-centered">{{ loop.index }}</td>
              <td>
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="/storage/{{ candidate.thumb_path }}" alt="Candidate Photo" />
                    </figure>
                  </div>

                  <div class="media-content">
                    <h1 class="title is-5">{{ candidate.name }}</h1>
                  </div>
                </div>
              </td>

              {% for judge in result.judges %}
                <td class="has-text-centered">{{ result.getAverage(candidate.id, judge.id) | fixed }}</td>
              {% endfor %}

              <td class="has-text-centered">{{ result.getJudgesAverage(candidate.id) | fixed }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}

  <div class="columns">
    {% for judge in result.judges %}
      <div class="column is-4">
        <div class="signature-area">
          <p class="title">{{ judge.name }}</p>
          <p class="subtitle">Judge</p>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="columns">
    <div class="column is-4">
      <div class="signature-area">
        <p class="title">Name Here</p>
        <p class="subtitle">Title Here</p>
      </div>
    </div>
  </div>
{% endblock %}
