{% extends '../../layouts/dashboard' %}

{% set page_title = 'Candidates' %}
{% set active_menu = 'candidates' %}

{% block subcontent %}
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container is-fluid">
        <div class="level">
          <div class="level-left">
            <h1 class="title">Candidates</h1>
          </div>

          <div class="level-right">
            <div class="field is-grouped">
              <p class="control">
                <a href="{{ route('dashboard.candidates.add') }}" class="button is-primary">
                  <span class="icon is-small">
                    <i class="fa fa-plus"></i>
                  </span>

                  <span>Add Candidate</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="main">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th class="is-fit">Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for candidate in result.toJSON() %}
          <tr>
            <td class="is-fit">{{ candidate.number }}</td>
            <td>
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="/storage/{{ candidate.thumb_path }}" alt="Candidate Photo" />
                  </figure>
                </div>

                <div class="media-content">
                  <h1 class="title is-5">{{ candidate.name }}</h1>
                </div>
              </div>
            </td>
            <td>
              <div class="field is-grouped">
                <p class="control">
                  <a href="{{ route('dashboard.candidates.edit', { id: candidate.id }) }}" class="button is-primary is-small is-inverted">
                    <span class="icon is-small">
                      <i class="fa fa-pencil"></i>
                    </span>
                  </a>
                </p>

                <p class="control">
                  <a href="{{ route('dashboard.candidates.delete', { id: candidate.id }) }}" class="button is-danger is-small is-inverted">
                    <span class="icon is-small">
                      <i class="fa fa-times"></i>
                    </span>
                  </a>
                </p>
              </div>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="3">No results found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
