{% extends '../../../layouts/dashboard' %}

{% set page_title = 'Subcategories' %}
{% set active_menu = 'categories' %}

{% block subcontent %}
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container is-fluid">
        <div class="level">
          <div class="level-left">
            <div>
              <h1 class="title">{{ category.name }}</h1>
              <h2 class="subtitle">Subcategories</h2>
            </div>
          </div>

          <div class="level-right">
            <div class="field is-grouped">
              <p class="control">
                <a href="{{ route('dashboard.categories.sub.add', { id: category.id }) }}" class="button is-primary">
                  <span class="icon is-small">
                    <i class="fa fa-plus"></i>
                  </span>

                  <span>Add Subcategory</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="main">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th class="is-fit">Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for subcategory in result.toJSON() %}
          <tr>
            <td>{{ subcategory.name }}</td>
            <td>
              <div class="field is-grouped">
                <p class="control">
                  <a href="{{ route('dashboard.categories.sub.edit', { id: category.id, sid: subcategory.id }) }}" class="button is-primary is-small is-inverted">
                    <span class="icon is-small">
                      <i class="fa fa-pencil"></i>
                    </span>
                  </a>
                </p>

                <p class="control">
                  <a href="{{ route('dashboard.categories.sub.delete', { id: category.id, sid: subcategory.id }) }}" class="button is-danger is-small is-inverted">
                    <span class="icon is-small">
                      <i class="fa fa-times"></i>
                    </span>
                  </a>
                </p>
              </div>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="3">No results found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
